openai
docutils-stubs
pyyaml
docker
django
django-bootstrap-v5
django-bootstrap-icons
importlib
pandas
numpy
markdown
django-markdownify
django-compressor
django-sass-processor
libsass
anthropic
crossplane
